# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.cargo/
.cursor/
.expo/
.rustup/
.qoder/
.gitconfig
.node_repl_history

# Windows system files
NTUSER.DAT*
ntuser.dat*
*.regtrans-ms
ntuser.ini
AppData/
Contacts/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Saved Games/
Searches/
Videos/
Documents/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
Application Data/
Cookies/



